<div class="score-header">
  <div class="left-header">
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">ログアウト</a>
    </div>
  </div>
</div>

<div class="scores">
</div>

<div class="form">
</div>