/* メイン画面 */
.wrapper {
  display: flex;
}

/* 左側 */
.side-bar {
  background-color: forestgreen;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: forestgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

/* 右側 */
.rooms {
  background-color: green;
  height: calc(100vh - 100px);
  padding: 0 20px;
}
.score {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.score-header {
  height: 100px;
  padding: 30px 40px;
}
.scores {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.form {
  height: 90px;
  padding: 20px 40px;
}
